<div id="categorydiv" class="postbox ">
<button type="button" class="handlediv button-link" aria-expanded="true"><span class="screen-reader-text">切换面板：分类目录</span><span class="toggle-indicator" aria-hidden="true"></span></button><h2 class="hndle ui-sortable-handle"><span>分类目录</span></h2>
<div class="inside">
    <div id="taxonomy-category" class="categorydiv">
        <ul id="category-tabs" class="category-tabs">
            <li class="tabs"><a href="#category-all">所有分类目录</a></li>
            <li class="hide-if-no-js"><a href="#category-pop">最常用</a></li>
        </ul>

        <div id="category-pop" class="tabs-panel" style="display: none;">
            <ul id="categorychecklist-pop" class="categorychecklist form-no-clear">
                
        <li id="popular-category-9" class="popular-category">
            <label class="selectit">
                <input id="in-popular-category-9" type="checkbox" value="9">
                文章          </label>
        </li>

        
        <li id="popular-category-7" class="popular-category">
            <label class="selectit">
                <input id="in-popular-category-7" type="checkbox" value="7">
                工具          </label>
        </li>

        
        <li id="popular-category-8" class="popular-category">
            <label class="selectit">
                <input id="in-popular-category-8" type="checkbox" value="8">
                建站          </label>
        </li>

        
        <li id="popular-category-1" class="popular-category">
            <label class="selectit">
                <input id="in-popular-category-1" type="checkbox" value="1">
                未分类         </label>
        </li>

        
        <li id="popular-category-2" class="popular-category">
            <label class="selectit">
                <input id="in-popular-category-2" type="checkbox" value="2">
                随笔          </label>
        </li>

        
        <li id="popular-category-33" class="popular-category">
            <label class="selectit">
                <input id="in-popular-category-33" type="checkbox" value="33">
                秘籍          </label>
        </li>

        
        <li id="popular-category-11" class="popular-category">
            <label class="selectit">
                <input id="in-popular-category-11" type="checkbox" value="11">
                科学上网            </label>
        </li>

        
        <li id="popular-category-38" class="popular-category">
            <label class="selectit">
                <input id="in-popular-category-38" type="checkbox" value="38">
                Python          </label>
        </li>

        
        <li id="popular-category-34" class="popular-category">
            <label class="selectit">
                <input id="in-popular-category-34" type="checkbox" value="34">
                推荐          </label>
        </li>

        
        <li id="popular-category-6" class="popular-category">
            <label class="selectit">
                <input id="in-popular-category-6" type="checkbox" value="6">
                About Us            </label>
        </li>

                    </ul>
        </div>

        <div id="category-all" class="tabs-panel">
            <input type="hidden" name="post_category[]" value="0">          <ul id="categorychecklist" data-wp-lists="list:category" class="categorychecklist form-no-clear">
                
<li id="category-6" class="popular-category"><label class="selectit"><input value="6" type="checkbox" name="post_category[]" id="in-category-6"> About Us</label></li>

<li id="category-7" class="popular-category"><label class="selectit"><input value="7" type="checkbox" name="post_category[]" id="in-category-7"> 工具</label></li>

<li id="category-8" class="popular-category"><label class="selectit"><input value="8" type="checkbox" name="post_category[]" id="in-category-8"> 建站</label></li>

<li id="category-34" class="popular-category"><label class="selectit"><input value="34" type="checkbox" name="post_category[]" id="in-category-34"> 推荐</label></li>

<li id="category-9" class="popular-category"><label class="selectit"><input value="9" type="checkbox" name="post_category[]" id="in-category-9"> 文章</label></li>

<li id="category-1" class="popular-category"><label class="selectit"><input value="1" type="checkbox" name="post_category[]" id="in-category-1"> 未分类</label></li>

<li id="category-10"><label class="selectit"><input value="10" type="checkbox" name="post_category[]" id="in-category-10"> 源代码</label><ul class="children">

<li id="category-53"><label class="selectit"><input value="53" type="checkbox" name="post_category[]" id="in-category-53"> PHP</label></li>

<li id="category-38" class="popular-category"><label class="selectit"><input value="38" type="checkbox" name="post_category[]" id="in-category-38"> Python</label></li>

<li id="category-46"><label class="selectit"><input value="46" type="checkbox" name="post_category[]" id="in-category-46"> 数据库</label></li>
</ul>
</li>

<li id="category-11" class="popular-category"><label class="selectit"><input value="11" type="checkbox" name="post_category[]" id="in-category-11"> 科学上网</label></li>

<li id="category-33" class="popular-category"><label class="selectit"><input value="33" type="checkbox" name="post_category[]" id="in-category-33"> 秘籍</label></li>

<li id="category-2" class="popular-category"><label class="selectit"><input value="2" type="checkbox" name="post_category[]" id="in-category-2"> 随笔</label></li>
            </ul>
        </div>
                <div id="category-adder" class="wp-hidden-children">
                <a id="category-add-toggle" href="#category-add" class="hide-if-no-js taxonomy-add-new">
                    + 添加新分类目录               </a>
                <p id="category-add" class="category-add wp-hidden-child">
                    <label class="screen-reader-text" for="newcategory">添加新分类目录</label>
                    <input type="text" name="newcategory" id="newcategory" class="form-required form-input-tip" value="新分类目录名" aria-required="true">
                    <label class="screen-reader-text" for="newcategory_parent">
                        父级分类目录：                 </label>
                    <select name="newcategory_parent" id="newcategory_parent" class="postform">
    <option value="-1">— 父级分类目录 —</option>
    <option class="level-0" value="6">About Us</option>
    <option class="level-0" value="7">工具</option>
    <option class="level-0" value="8">建站</option>
    <option class="level-0" value="34">推荐</option>
    <option class="level-0" value="9">文章</option>
    <option class="level-0" value="1">未分类</option>
    <option class="level-0" value="10">源代码</option>
    <option class="level-1" value="53">&nbsp;&nbsp;&nbsp;PHP</option>
    <option class="level-1" value="38">&nbsp;&nbsp;&nbsp;Python</option>
    <option class="level-1" value="46">&nbsp;&nbsp;&nbsp;数据库</option>
    <option class="level-0" value="11">科学上网</option>
    <option class="level-0" value="33">秘籍</option>
    <option class="level-0" value="2">随笔</option>
</select>
                    <input type="button" id="category-add-submit" data-wp-lists="add:categorychecklist:category-add" class="button category-add-submit" value="添加新分类目录">
                    <input type="hidden" id="_ajax_nonce-add-category" name="_ajax_nonce-add-category" value="d096a06e5a">                  <span id="category-ajax-response"></span>
                </p>
            </div>
            </div>
    </div>
</div>