<div id="tagsdiv-post_tag" class="postbox ">
<button type="button" class="handlediv button-link" aria-expanded="true"><span class="screen-reader-text">切换面板：标签</span><span class="toggle-indicator" aria-hidden="true"></span></button><h2 class="hndle ui-sortable-handle"><span>标签</span></h2>
<div class="inside">
<div class="tagsdiv" id="post_tag">
    <div class="jaxtag">
    <div class="nojs-tags hide-if-js">
        <label for="tax-input-post_tag">添加或删除标签</label>
        <p><textarea name="tax_input[post_tag]" rows="3" cols="20" class="the-tags" id="tax-input-post_tag" aria-describedby="new-tag-post_tag-desc"></textarea></p>
    </div>
        <div class="ajaxtag hide-if-no-js">
        <label class="screen-reader-text" for="new-tag-post_tag">添加新标签</label>
        <p><input data-wp-taxonomy="post_tag" type="text" id="new-tag-post_tag" name="newtag[post_tag]" class="newtag form-input-tip ui-autocomplete-input" size="16" autocomplete="off" aria-describedby="new-tag-post_tag-desc" value="" role="combobox" aria-autocomplete="list" aria-expanded="false" aria-owns="ui-id-1">
        <input type="button" class="button tagadd" value="添加"></p>
    </div>
    <p class="howto" id="new-tag-post_tag-desc">多个标签请用英文逗号（,）分开</p>
        </div>
    <div class="tagchecklist"></div>
</div>
<p class="hide-if-no-js"><button type="button" class="button-link tagcloud-link" id="link-post_tag" aria-expanded="false">从常用标签中选择</button></p>
</div>
</div>


<aside id="tag_cloud-3" class="panel panel-default widget clearfix widget_tag_cloud" data-offset-top="2730" style="width: 706px; position: static; top: 0px;">
    <h3 class="panel-heading widget-title">标签</h3>
    <div class="tagcloud">
    <a href="" class="tag-link-50 tag-link-position-1" title="1个话题" style="font-size: 8pt;">Chrome插件</a>
    <a href="http://www.codebeta.cn/?tag=google" class="tag-link-51 tag-link-position-2" title="1个话题" style="font-size: 8pt;">Google</a>

</aside>